# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

# Challenge - Passing a Lambda Expression to a Function

In the next excercise you will create a function that returns a lambda expression. Create a function called `modify_list`. The function takes two arguments, a list and a lambda expression. The function iterates through the list and applies the lambda expression to every element in the list.

In [23]:
def modify_list(lst, lmbda):
    """
    Input: list and lambda expression
    Output: the transformed list
    """
    return [lmbda(element) for element in lst]
    
    
    # your code here
print(modify_list(range(21), (lambda x: x**x)))

[1, 1, 4, 27, 256, 3125, 46656, 823543, 16777216, 387420489, 10000000000, 285311670611, 8916100448256, 302875106592253, 11112006825558016, 437893890380859375, 18446744073709551616, 827240261886336764177, 39346408075296537575424, 1978419655660313589123979, 104857600000000000000000000]

#### Now we will define a lambda expression that will transform the elements of the list. 

In the cell below, create a lambda expression that converts Celsius to Kelvin. Recall that 0Â°C + 273.15 = 273.15K

In [8]:
# your code here
celcius_to_kelvin = lambda temp_C: temp_C + 273.15

celcius_to_kelvin(0)

273.15

Finally, convert the list of temperatures below from Celsius to Kelvin.

In [12]:
temps = [12, 23, 38, -55, 24]

# your code here
[(lambda x: x + 273.15)(temp) for temp in temps]

[285.15, 296.15, 311.15, 218.14999999999998, 297.15]

#### In this part, we will define a function that returns a lambda expression

In the cell below, write a lambda expression that takes two numbers and returns 1 if one is divisible by the other and zero otherwise. Call the lambda expression `mod`.

In [107]:
# your code here
mod = lambda x, y: int(not (x%y and y%x))

mod(4,8)

1

In [118]:
mod = lambda x, y: 0 if (y==0 or x==0) else int(not (x%y and y%x))
mod(0, 12)

0

#### Now create a function that returns mod. The function only takes one argument - the first number in the `mod` lambda function. 

Note: the lambda function above took two arguments, the lambda function in the return statement only takes one argument but also uses the argument passed to the function.

In [105]:
def divisor(b):
    """
    Input: a number
    Output: a function that returns 1 if the number is 
    divisible by another number (to be passed later) and zero otherwise.
    """
    return lambda a: int(not a%b)
    #return lambda x: mod(b, x)
    # your code here
divisor(12)(5)

0

Finally, pass the number 5 to `divisor`. Now the function will check whether a number is divisble by 5. Assign this function to `divisible5`

In [55]:
divisible5(b):
    return divisor(5)(b)

# your code here
divisible5 = divisor(5)

Test your function with the following test cases:

In [56]:
divisible5(10)

True

In [57]:
divisible5(8)

False

# Bonus Challenge - Using Lambda Expressions in List Comprehensions

In the following challenge, we will combine two lists using a lambda expression in a list comprehension. 

To do this, we will need to introduce the `zip` function. The `zip` function returns an iterator of tuples.

In [58]:
# Here is an example of passing one list to the zip function. 
# Since the zip function returns an iterator, we need to evaluate the iterator by using a list comprehension.

l = [1,2,3,4,5]
[x for x in zip(l)]

[(1,), (2,), (3,), (4,), (5,)]

Using the `zip` function, let's iterate through two lists and add the elements by position.

In [119]:
list1 = ['Green', 'cheese', 'English', 'tomato']
list2 = ['eggs', 'cheese', 'cucumber', 'tomato']

# your code here
[x for x in zip(list1, list2)]

[('Green', 'eggs'),
 ('cheese', 'cheese'),
 ('English', 'cucumber'),
 ('tomato', 'tomato')]

['Greeneggs',
 'Greencheese',
 'Greencucumber',
 'Greentomato',
 'cheeseeggs',
 'cheesecheese',
 'cheesecucumber',
 'cheesetomato',
 'Englisheggs',
 'Englishcheese',
 'Englishcucumber',
 'Englishtomato',
 'tomatoeggs',
 'tomatocheese',
 'tomatocucumber',
 'tomatotomato']

# Bonus Challenge - Using Lambda Expressions as Arguments

#### In this challenge, we will zip together two lists and sort by the resulting tuple.

In the cell below, take the two lists provided, zip them together and sort by the first letter of the second element of each tuple. Do this using a lambda function.

In [124]:
list1 = ['Engineering', 'Computer Science', 'Political Science', 'Mathematics']
list2 = ['Lab', 'Homework', 'Essay', 'Module']

# your code here
sorted([i for i in zip(list1, list2)], key=lambda x: x[1] )

[('Political Science', 'Essay'),
 ('Computer Science', 'Homework'),
 ('Engineering', 'Lab'),
 ('Mathematics', 'Module')]

# Bonus Challenge - Sort a Dictionary by Values

Given the dictionary below, sort it by values rather than by keys. Use a lambda function to specify the values as a sorting key.

In [127]:
d = {'Honda': 1997, 'Toyota': 1995, 'Audi': 2001, 'BMW': 2005}

# your code here
dict(sorted(d.items(), key=lambda x: x[1]))

{'Toyota': 1995, 'Honda': 1997, 'Audi': 2001, 'BMW': 2005}

In [70]:
telephones = [{"modÃ¨le" : "SPRX22",
               "marque" : "SuperTel",
               "couleur" : "Rouge"
              },
              {"modÃ¨le" : "SPRX22", 
                "marque" : "SuperTel",
               "couleur" : "Noir"
              },
              {"modÃ¨le" : "SPRX22", 
               "marque" : "SuperTel",
               "couleur" : "Gris"
              },
              {"modÃ¨le" : "ZX80", 
               "marque" : "UnAutreTel",
               "couleur" : "Gris"
              },
              {"modÃ¨le" : "ZX80", 
               "marque" : "UnAutreTel",
               "couleur" : "Noir"
              },
              {"modÃ¨le" : "ZX80", 
               "marque" : "UnAutreTel",
               "couleur" : "Bleu"
              }
             ]

print(telephones)

telephones_par_couleur = sorted(telephones, key=lambda x: x["couleur"])

print(telephones_par_couleur)

[{'modÃ¨le': 'SPRX22', 'marque': 'SuperTel', 'couleur': 'Rouge'}, {'modÃ¨le': 'SPRX22', 'marque': 'SuperTel', 'couleur': 'Noir'}, {'modÃ¨le': 'SPRX22', 'marque': 'SuperTel', 'couleur': 'Gris'}, {'modÃ¨le': 'ZX80', 'marque': 'UnAutreTel', 'couleur': 'Gris'}, {'modÃ¨le': 'ZX80', 'marque': 'UnAutreTel', 'couleur': 'Noir'}, {'modÃ¨le': 'ZX80', 'marque': 'UnAutreTel', 'couleur': 'Bleu'}]
[{'modÃ¨le': 'ZX80', 'marque': 'UnAutreTel', 'couleur': 'Bleu'}, {'modÃ¨le': 'SPRX22', 'marque': 'SuperTel', 'couleur': 'Gris'}, {'modÃ¨le': 'ZX80', 'marque': 'UnAutreTel', 'couleur': 'Gris'}, {'modÃ¨le': 'SPRX22', 'marque': 'SuperTel', 'couleur': 'Noir'}, {'modÃ¨le': 'ZX80', 'marque': 'UnAutreTel', 'couleur': 'Noir'}, {'modÃ¨le': 'SPRX22', 'marque': 'SuperTel', 'couleur': 'Rouge'}]

In [98]:
from functools import reduce
suite = [0,1]
for i in range(20):
    suite.append(suite[-1] + suite[-2])
    
#    suite = suite[1:].append(reduce(lambda x, y: x + y, suite))
suite

lambda z : reduce(lambda x, y, x + y)

[lambda x : x + [x[-1] + x[-2]] for x in range(20)]

[0,
 1,
 1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181,
 6765,
 10946]

In [100]:
[(lambda x : x + [x[-1] + x[-2]])(i)]