# Introduction to NumPy


#### 1. Import NumPy under the name np.

In [148]:
# your code here
import numpy as np

#### 2. Print your NumPy version.

In [149]:
# your code here
np.__version__

'1.18.1'

#### 3. Generate a 2x3x5 3-dimensional array with random values. Assign the array to variable *a*.
**Challenge**: there are at least three easy ways that use numpy to generate random arrays. How many ways can you find?

In [150]:
# Method 1
a = np.random.randn(2, 3, 5)

In [151]:
# Method 2
a = np.random.random([2, 3, 5])

In [152]:
# Method 3
a = np.random.rand(2, 3, 5)

#### 4. Print *a*.

In [153]:
# your code here
print(a)

[[[0.95281461 0.42344926 0.33589809 0.36861483 0.66175244]
  [0.90395672 0.43250743 0.26093886 0.63786755 0.34311177]
  [0.86220739 0.21921459 0.77414054 0.53069712 0.64578949]]

 [[0.70624874 0.04503574 0.79977474 0.30770582 0.28368173]
  [0.10556142 0.3172159  0.88050982 0.83362984 0.20648477]
  [0.33322525 0.16893988 0.19044107 0.19393623 0.50588181]]]

#### 5. Create a 5x2x3 3-dimensional array with all values equaling 1. Assign the array to variable *b*.

In [154]:
# your code here
b = np.ones([5, 2, 3])

#### 6. Print *b*.

In [155]:
# your code here
print(b)

[[[1. 1. 1.]
  [1. 1. 1.]]

 [[1. 1. 1.]
  [1. 1. 1.]]

 [[1. 1. 1.]
  [1. 1. 1.]]

 [[1. 1. 1.]
  [1. 1. 1.]]

 [[1. 1. 1.]
  [1. 1. 1.]]]

#### 7. Do *a* and *b* have the same size? How do you prove that in Python code?

In [156]:
# your code here
np.size(a) == np.size(b)

True

#### 8. Are you able to add *a* and *b*? Why or why not?

In [157]:
# your answer here
a + b
# we can't because their shapes are different

ValueError: operands could not be broadcast together with shapes (2,3,5) (5,2,3)

#### 9. Transpose *b* so that it has the same structure of *a* (i.e. become a 2x3x5 array). Assign the transposed array to variable *c*.

In [158]:
# your code here
#c = np.resize(b, [2, 3, 5])

c = np.reshape(b, [2, 3, 5])

#### 10. Try to add *a* and *c*. Now it should work. Assign the sum to variable *d*. But why does it work now?

In [159]:
# your code/answer here
d = a + c
#same shape

#### 11. Print *a* and *d*. Notice the difference and relation of the two array in terms of the values? Explain.

In [162]:
# your code/answer here
print(f"{a}\n{d}")
# d values equals a values + 1
(d == a + 1).all()

[[[0.95281461 0.42344926 0.33589809 0.36861483 0.66175244]
  [0.90395672 0.43250743 0.26093886 0.63786755 0.34311177]
  [0.86220739 0.21921459 0.77414054 0.53069712 0.64578949]]

 [[0.70624874 0.04503574 0.79977474 0.30770582 0.28368173]
  [0.10556142 0.3172159  0.88050982 0.83362984 0.20648477]
  [0.33322525 0.16893988 0.19044107 0.19393623 0.50588181]]]
[[[1.95281461 1.42344926 1.33589809 1.36861483 1.66175244]
  [1.90395672 1.43250743 1.26093886 1.63786755 1.34311177]
  [1.86220739 1.21921459 1.77414054 1.53069712 1.64578949]]

 [[1.70624874 1.04503574 1.79977474 1.30770582 1.28368173]
  [1.10556142 1.3172159  1.88050982 1.83362984 1.20648477]
  [1.33322525 1.16893988 1.19044107 1.19393623 1.50588181]]]

True

#### 12. Multiply *a* and *c*. Assign the result to *e*.

In [163]:
# your code here
e = a * c
e

array([[[0.95281461, 0.42344926, 0.33589809, 0.36861483, 0.66175244],
        [0.90395672, 0.43250743, 0.26093886, 0.63786755, 0.34311177],
        [0.86220739, 0.21921459, 0.77414054, 0.53069712, 0.64578949]],

       [[0.70624874, 0.04503574, 0.79977474, 0.30770582, 0.28368173],
        [0.10556142, 0.3172159 , 0.88050982, 0.83362984, 0.20648477],
        [0.33322525, 0.16893988, 0.19044107, 0.19393623, 0.50588181]]])

#### 13. Does *e* equal to *a*? Why or why not?

In [164]:
# your code/answer here
(a == e).all()

True

#### 14. Identify the max, min, and mean values in *d*. Assign those values to variables *d_max*, *d_min* and *d_mean*.

In [116]:
# your code here
d_max = np.max(d)
d_min = np.min(d)
d_mean = np.mean(d)

#### 15. Now we want to label the values in *d*. First create an empty array *f* with the same shape (i.e. 2x3x5) as *d* using `np.empty`.

In [117]:
# your code here
f = np.empty([2,3,5])

#### 16. Populate the values in *f*. 

For each value in *d*, if it's larger than *d_min* but smaller than *d_mean*, assign 25 to the corresponding value in *f*. If a value in *d* is larger than *d_mean* but smaller than *d_max*, assign 75 to the corresponding value in *f*. If a value equals to *d_mean*, assign 50 to the corresponding value in *f*. Assign 0 to the corresponding value(s) in *f* for *d_min* in *d*. Assign 100 to the corresponding value(s) in *f* for *d_max* in *d*. In the end, f should have only the following values: 0, 25, 50, 75, and 100.

**Note**: you don't have to use Numpy in this question.

In [144]:
# your code here

for a, a_val in enumerate(d):
    for b, b_val in enumerate(a_val):
        for c, valeur in enumerate(b_val):
            if valeur == d_min:
                f[a, b, c] = 0
            elif valeur < d_mean:
                f[a, b, c] = 25
            elif valeur == d_mean:
                f[a, b, c] = 50
            elif valeur < d_max:
                f[a, b, c] = 75
            else:
                f[a, b, c] = 100

f

array([[[ 75.,  25.,  25.,  75.,  75.],
        [ 25.,  25.,  75.,  25.,  75.],
        [ 75.,  75.,  25.,  25.,  75.]],

       [[ 75.,  75.,  25.,  25.,  75.],
        [ 25., 100.,  25.,  75.,  25.],
        [  0.,  75.,  75.,  75.,  25.]]])

In [143]:
[(d == d_max) * 100 | ((d < d_max) & (d > d_mean)) * 75 | (d == d_mean) * 50 | ((d < d_mean) & (d > d_min)) * 25 | (d == d_min) * 0]

[array([[[ 75,  25,  25,  75,  75],
         [ 25,  25,  75,  25,  75],
         [ 75,  75,  25,  25,  75]],

        [[ 75,  75,  25,  25,  75],
         [ 25, 100,  25,  75,  25],
         [  0,  75,  75,  75,  25]]], dtype=int32)]

#### 17. Print *d* and *f*. Do you have your expected *f*?
For instance, if your *d* is:
```python
[[[1.85836099, 1.67064465, 1.62576044, 1.40243961, 1.88454931],
[1.75354326, 1.69403643, 1.36729252, 1.61415071, 1.12104981],
[1.72201435, 1.1862918 , 1.87078449, 1.7726778 , 1.88180042]],
[[1.44747908, 1.31673383, 1.02000951, 1.52218947, 1.97066381],
[1.79129243, 1.74983003, 1.96028037, 1.85166831, 1.65450881],
[1.18068344, 1.9587381 , 1.00656599, 1.93402165, 1.73514584]]]
```
Your *f* should be:
```python
[[[ 75.,  75.,  75.,  25.,  75.],
[ 75.,  75.,  25.,  25.,  25.],
[ 75.,  25.,  75.,  75.,  75.]],
[[ 25.,  25.,  25.,  25., 100.],
[ 75.,  75.,  75.,  75.,  75.],
[ 25.,  75.,   0.,  75.,  75.]]]
```

In [71]:
# your code here
print(f"{d}\n{f}")

[[[1.77716615 1.6193706  1.02942469 1.89265798 1.46313391]
  [1.27155649 1.39312065 1.10095691 1.5085249  1.56625278]
  [1.07420233 1.71528956 1.88204116 1.87372169 1.89580131]]

 [[1.56198898 1.03307937 1.61408373 1.3397439  1.88461889]
  [1.4772916  1.24862963 1.33567296 1.765973   1.49152317]
  [1.24225733 1.35592016 1.16029167 1.40181572 1.30032839]]]
[[[ 75.  75.   0.  75.  25.]
  [ 25.  25.  25.  75.  75.]
  [ 25.  75.  75.  75. 100.]]

 [[ 75.  25.  75.  25.  75.]
  [ 75.  25.  25.  75.  75.]
  [ 25.  25.  25.  25.  25.]]]

#### 18. Bonus question: instead of using numbers (i.e. 0, 25, 50, 75, and 100), use string values  ("A", "B", "C", "D", and "E") to label the array elements. For the example above, the expected result is:

```python
[[[ 'D',  'D',  'D',  'B',  'D'],
[ 'D',  'D',  'B',  'B',  'B'],
[ 'D',  'B',  'D',  'D',  'D']],
[[ 'B',  'B',  'B',  'B',  'E'],
[ 'D',  'D',  'D',  'D',  'D'],
[ 'B',  'D',   'A',  'D', 'D']]]
```
**Note**: you don't have to use Numpy in this question.

In [98]:
liste_resultat = np.empty([2,3,5], dtype='str')

for a, a_val in enumerate(d):
    for b, b_val in enumerate(a_val):
        for c, valeur in enumerate(b_val):
            if valeur == d_min:
                liste_resultat[a, b, c] = "A"
            elif valeur < d_mean:
                liste_resultat[a, b, c] = "B"
            elif valeur == d_mean:
                liste_resultat[a, b, c] = "C"
            elif valeur < d_max:
                liste_resultat[a, b, c] = "D"
            else:
                liste_resultat[a, b, c] = "E"
         
liste_resultat

array([[['D', 'D', 'A', 'D', 'B'],
        ['B', 'B', 'B', 'D', 'D'],
        ['B', 'D', 'D', 'D', 'E']],

       [['D', 'B', 'D', 'B', 'D'],
        ['D', 'B', 'B', 'D', 'D'],
        ['B', 'B', 'B', 'B', 'B']]], dtype='<U1')